@import "../../../../../fontcolors";


.members-item{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);

    @media screen and (max-width:650px) {
        grid-template-columns: repeat(1, 1fr);

        
    }
}

.page{
    .header{
        border-bottom: 1px solid $lightgrey;
        margin-top: 0.75rem;
        flex-wrap: wrap;
    }
  
    .active{
        color: $blue;
        border-bottom: 2px solid $blue;
        cursor: pointer;
    }
    .inactive{
        color: $grey;
        cursor: pointer;
    }
}

.dark-title{
    color: $grey;
    font-weight: 600;
}

.member-card{
    width: min(34.5rem,calc(100vw - 11rem));


    @media screen and (max-width:65rem) {

        width: 100%;
        
    }
}


.team-activity{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 1rem;
}
