


$blue:#4a7dff;
$green:#51ce2c;
$orange:#ff8800;
$red:#f93939;
$grey:#656b7b;
$white:#f2f3f7;


$lightblue:rgb(154 183 255 / 27%);
$lightgreen:#51ce2c26;
$lightgrey:#d6d6d6;
$lightorange:#ff880021;
$lightred:#ff00000f;



$lightergrey:#f2f3f7;


$bordercolor:#dde6ff;