@import '../../../fontcolors';

.content{
    background-color: $white;
    width: calc(100vw - 5rem);
    margin-left: 5rem;
}

.content-noauth {
    background-color: #f2f3f7;
    width: 100vw;
}

.heightvh{
    height: 100%;
    min-height: 100vh;
}